.wrapper {

}
.filename {
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
}
.size {
    color: var(--color-gray-text);
}
.footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 10px;
}
.topMargin {
    margin-top: 2rem;
}
