.button {
    border: none;
    background: none;
    color: var(--color-gray-text);
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    cursor: pointer;
}
.button:after {
    display: inline-block;
    content: '\2661';
}
.active {
    color: var(--color-accent);
}
.active:after {
    content: '\2665';
}
